<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% if page.url == "/" %}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <nav>
      <a href="/" rel="author">Nishant Dania</a>
      <div>
        <a href="/"{% if page.url == "/" %} aria-current="page"{% endif %}>About</a>
        <a href="/blog"{% if page.url contains "/blog" %} aria-current="page"{% endif %}>Blog</a>
      </div>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
