<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    {% feed_meta %}
    {% seo %}
    <script type="speculationrules">
      {
        "prefetch": [
          {
            "where": { "href_matches": "/*" },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
  </head>
  <body>
    <nav>
      <a href="/" rel="author">Nishant Dania</a>
      <div>
        <a href="/"{% if page.url == "/" %} aria-current="page"{% endif %}>blog</a>
        <a href="/about"{% if page.url == "/about" %} aria-current="page"{% endif %}>about</a>
      </div>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} by Nishant Dania</p>
      <p>Contact me via <a href="mailto:{{ site.email }}">email</a></p>
      <p>Subscribe via <a href="{{ site.baseurl }}/feed.xml" type="application/atom+xml">RSS</a></p>
    </footer>
  </body>
</html>
